.overlay {
  background-image: linear-gradient(to bottom, transparent, rgb(0, 0, 0, 1));
  height: 100%;
  width: 100%;

  position: relative;

  .info {
    color: white;
    position: absolute;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    h1 {
      font-size: 3rem;
      text-wrap: nowrap;
    }

    .meta {
      display: flex;
      width: 100%;

      justify-content: flex-start;
      gap: 5px;

      span {
        color: gray;
        &::after {
          content: " · ";
        }
      }
    }

    p {
      font-size: 0.8rem;
    }

    .buttons {
      margin-top: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      gap: 20px;
      .play {
        font-size: 0.9rem;

        padding: 15px 30px;
        outline: none;
        border: none;
        border-radius: 8px;

        background-color: #2f925d;
        color: white;

        transition: 0.5s;

        cursor: pointer;

        &:hover {
          background: red;
        }
      }
      .trailer {
        cursor: pointer;

        font-size: 0.9rem;

        padding: 15px 30px;
        outline: none;
        border: none;
        border-radius: 8px;

        background-color: #28262d;
        color: white;

        transition: 0.5s;

        &:hover {
          background-color: red;
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .info {
    bottom: 15vh;
    left: 10vw;
    width: 40vw;
  }
}
@media screen and (max-width: 768px) {
  .info {
    bottom: 15vh;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
