.cardSlider {
  background-color: black;
  color: white;
  padding-left: 5vw;
  padding-right: 5vw;
  .cardSliderContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vw;

    overflow: auto;
    .card {
      border: 2px solid transparent;
      border-radius: 10px;
      padding: 10px 15px;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      gap: 5px;
      img {
        border-radius: 10px;
        height: calc(13 * (max(calc((85vw - 200px) / 5), 139.125px)) / 9);
        width: max(calc((85vw - 200px) / 5), 139.13px);
      }
      transition: 0.5s;
      cursor: pointer;

      .cardInformation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        h1 {
          font-size: 100%;
        }
      }

      &:hover {
        border: 2px solid white;
      }
    }
  }
}
@media screen and (max-width: 1025px) {
  .cardSlider {
    .cardSliderContainer {
      flex-wrap: nowrap;
    }
  }
}
